* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    letter-spacing: 0.01em;
}
main {
    background: #E5E5E5;
}

.soz {
    font-size: 18px;
    color: #0C6666;
    line-height: 23px;
    font-weight: 500;
    width: 230px;
}

@media screen and (max-width: 1024px){
  .soz{
    margin-left: auto;
    margin-right: auto;
  }
}

select {
    border: none;
    color: #0C6666;
    margin: 0 10px;
}

.nav_custom input {
    background: rgba(241, 241, 241, 0.31);
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.nav_custom button {
    padding: 5px 15px;
    background: #42BC18;
    border-radius: 5px;
    color: #fff;
    border: none;
}
.nav-item {
    margin: 0 10px;
    text-decoration: none;
    border-right: 1px solid #42BC18;
    padding-right: 10px;
    display: flex;
    align-items: center;
}
.nav-item a {
    text-decoration: none;
    color: #444444;
}
.nav-item a img {
    padding-right: 5px;
}
.nav_contacts {
    display: flex;
    flex-direction: row;
}

.nav_search {
    display: flex;
    flex-direction: row;
}

.header__menu {
    border-bottom: 1px solid #E5E5E5;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px 0;
}
.header__nav h4 {
    margin: 0;
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width: 943px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav_contacts {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 558px) {
    .nav_contacts {
        display: flex;
        flex-direction: column;
    }
    .nav_contacts .nav-item {
        margin-bottom: 8px;
    }
}
@media screen and (max-width: 435px) {
    .nav_search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav_search li {
        margin-bottom: 8px;
    }
}





.header_banner {
    background-image: url(../img/Banner.jpg);
    background-size: contain 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.header_container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    margin-left: 20px;
}

.header_container h1 {
    color: #fff;
    font-style: bold;
    font-weight: 700;
    font-size: 80px;
}

.header_container h4 {
    padding: 5px;
    width: max-content;
    background: #40B019;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 25px;
}

.header_container h2 {
    font-size: 64px;
    color: #fff;
    font-style: normal;
}
@media (max-width:1024px) {
    .certificates {
        display: flex;
        flex-direction: row;
    }
    .header_container {
        justify-content: center;
        text-align: center;
    }
    .header_container h2 {
        font-size: 45px;
    }
    .header_container h1 {
        color: #fff;
        font-style: bold;
        font-size: 48px;
        justify-content: center;
    }
    .middle_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .contacts_container {
        display: flex;
        flex-direction: row;
    }
}
.middle_container {
    display: flex;
    flex-direction: row;

}
@media (max-width:768px) {
    .middle_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header_container {
        justify-content: center;
        text-align: center;
    }
    .header_container h2 {
        font-size: 30px;
    }
    .header_container h1 {
        font-size: 34px;
        justify-content: center;
    }
    .header__nav h4 {
        padding: 5px 15px;
    }
}
@media (max-width:425px) {
    .contacts_container {
        display: flex;
        flex-direction: column;
    }
    .header_container h4 {
        font-size: 14px;
    }
    .certificates {
        display: flex;
        align-items: center;
    }

}

.header_container button {
    width: 139px;
    height: 46px;
    background: #40B019;
    border-radius: 5px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    margin-top: 35px;
}

.contacts {
    background: #fff;
    width: 284px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 20px;
    padding: 10px;
}
.contacts h3 {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 10px;
}
.contacts h4 {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 10px;
    padding: 0;
}

.call_number {
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.call_number p {
    margin: 0;
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.email img {
    padding-right: 5px;
}
.email p {
    margin: 0;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.slider_content {
    width: 284px;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    margin: 25px 20px;
}

.slider_content h3 {
    font-size: 18px;
    line-height: 22px;
}
.slider_content p {
    font-weight: 500;
    font-size: 18px;
    color: #40B019;
}
.services {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.services h3 {
    padding: 10px;
}
.services_container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 20px;
}
.service_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    padding: 10px;
}
.service p {
    margin-top: 10px;
}
.certificates_container {
    margin: 20px;
}
.certificates {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.certificates img {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}

@media (max-width:980px) {
    .contacts_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
@media (max-width:600px) {
    .contacts_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .service_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .service p {
        width: 250px;
    }
}
@media (max-width:350px) {
    .service p {
        max-width: 200px;
    }
}

.line {
    border: 1px solid rgba(196, 196, 196, 0.5);
    width: 192px;
    margin-bottom: 10px;
}



main .title h2 {
    font-size: 48px;
    font-weight: 700;
    color:  #40B019;
}

main .title p {
    
    height: 2px;
    background-color: #20A02F;
    margin: 15px auto;
}

main .p1 {
    font-size: 24px;
    font-weight: 500;
    color: #444;
    margin-bottom: 50px;
}
main .box {
    width: 100%;
    height: 100%;
    padding: 18px;
    background-color: #fff;
    /* margin-bottom: 70px; */
    border-radius: 16px;
    text-align: center;
    
}
main .box button {
    padding: 17px 45px;
    background: #40B019;
    border-radius: 5px;
    Opacity: 75%;
    border: none;
    position: relative;
    top: -50px;
    font-size: 18px;
}
main .box p {
    background-color: #fff;
    font-size: 16px;
    color: #555;
    font-weight: 500;
}

.bock {
    text-align: center;
    
}
.bock h4 {
    padding: 40px 0;
    border: 15px solid #42BC18;
    border-radius: 50%;
    background-color: #fff;
    color: #40B019;
    font-size: 41px;
    font-weight: 700;
}

.norm_right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rights_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.rights_block {
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-shadow: 0px 11px 18px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.bock h4 {
    padding: 40px 0;
    border: 15px solid #bebbbb;
    border-radius: 50%;
    background-color: #fff;
    color: #40B019;
    font-size: 41px;
    font-weight: 700;
}